* {
    
    list-style-type: none;
    color: black;
}

body {
    background-color: #f8f9fa!important;
}

h1 {
    margin-top: 20px;
    margin-left: 5%;
    font-size: 20px;
}

.tareas {
    margin-top: 20px;
}

.activo {
    display: default;
    margin: 20px;
}

.hidden {
    display: none;
}

.tarea-mostrada {
    margin-top: 10px;
    margin-left: 2%;
}
.tarea-propiedades {
    color: red;
    margin-left: 2%;
}